<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
	<DirectoryRef Id="ApplicationProgramsFolder">
		<Component Id="FocalPoint.Shortcut" Guid="49D15F17-E2AD-4006-8C78-042F838BB483">
			<Shortcut Id="ApplicationShortcut"
					   Name="FocalPoint"
					   Description="Pluggable task focus timer"
					   Target="[APPINSTALLDIR]FocalPoint.exe"
					   WorkingDirectory="APPINSTALLDIR"
					  />
			<RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
			<RegistryValue Root="HKCU" Key="Software\FocalPoint\FocalPoint" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
		</Component>
	</DirectoryRef>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="Application" Directory="APPINSTALLDIR">
			<Component Id="ApplicationComponent" Guid="8E07322B-FE84-4C7D-961C-A9FB9B7278AF" KeyPath="yes">
				<File Source="..\FocalPoint\bin\Release\FocalPoint.exe" Id="FocalPoint.exe"/>
				<File Source="..\FocalPoint\bin\Release\FocalPoint.exe.config" Id="FocalPoint.exe.config"/>
		
				<RemoveFolder Id="APPINSTALLDIR" On="uninstall"/>
			</Component>
		</ComponentGroup>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="Dependencies" Directory="APPINSTALLDIR">
			<Component Id="DependencyComponent" Guid="09345474-A009-4E35-A4B0-20537F7828E7" KeyPath="yes">
				<File Source="..\FocalPoint\bin\Release\Microsoft.Threading.Tasks.dll" Id="Microsoft.Threading.Tasks.dll"/>
				<File Source="..\FocalPoint\bin\Release\NLog.dll" Id="NLog.dll"/>
				<File Source="..\FocalPoint\bin\Release\ReactiveUI.Blend_Net45.dll" Id="ReactiveUI.Blend_Net45.dll"/>
				<File Source="..\FocalPoint\bin\Release\ReactiveUI.NLog_Net45.dll" Id="ReactiveUI.NLog_Net45.dll"/>
				<File Source="..\FocalPoint\bin\Release\ReactiveUI.Routing_Net45.dll" Id="ReactiveUI.Routing_Net45.dll"/>
				<File Source="..\FocalPoint\bin\Release\ReactiveUI.Xaml_Net45.dll" Id="ReactiveUI.Xaml_Net45.dll"/>
				<File Source="..\FocalPoint\bin\Release\ReactiveUI_Net45.dll" Id="ReactiveUI_Net45.dll"/>
				<File Source="..\FocalPoint\bin\Release\System.Reactive.Core.dll" Id="System.Reactive.Core.dll"/>
				<File Source="..\FocalPoint\bin\Release\System.Reactive.Interfaces.dll" Id="System.Reactive.Interfaces.dll"/>
				<File Source="..\FocalPoint\bin\Release\System.Reactive.Linq.dll" Id="System.Reactive.Linq.dll"/>
				<File Source="..\FocalPoint\bin\Release\System.Reactive.PlatformServices.dll" Id="System.Reactive.PlatformServices.dll"/>
				<File Source="..\FocalPoint\bin\Release\System.Reactive.Windows.Threading.dll" Id="System.Reactive.Windows.Threading.dll"/>
				<File Source="..\FocalPoint\bin\Release\Xceed.Wpf.DataGrid.dll" Id="Xceed.Wpf.DataGrid.dll"/>
				<File Source="..\FocalPoint\bin\Release\Xceed.Wpf.Toolkit.dll" Id="Xceed.Wpf.Toolkit.dll"/>
			</Component>
		</ComponentGroup>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="SDK" Directory="APPINSTALLDIR">
			<Component Id="SDKComponent" Guid="AA3EF4E2-D031-4D05-A6D9-05C5D5B7A032" KeyPath="yes">
				<File Source="..\FocalPoint.SDK\bin\Release\FocalPoint.SDK.dll" Id="FocalPoint.SDK.dll"/>
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>