<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="FocalPoint.Lync2013Plugin" Language="1033" Version="1.0.0.0" Manufacturer="Curtis Badke" UpgradeCode="2CAE4F99-861B-4678-AC57-96764A9617BB">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="APPINSTALLDIR" Name="FocalPoint">
					<Directory Id="PLUGININSTALLDIR" Name="Plugins" />
				</Directory>
			</Directory>
		</Directory>

		<Feature Id="Plugin1" Title="Lync 2013 Support" Level="1">
			<ComponentGroupRef Id="LyncPlugin"/>
		</Feature>

	</Product>

	<Fragment>
		<ComponentGroup Id="LyncPlugin" Directory="PLUGININSTALLDIR">
			<Component Id="LyncPluginComponent" Guid="73557086-D309-4CE7-8541-D7D829314B84" KeyPath="yes">
				<File Source="..\FocalPoint.Lync2013Plugin\bin\Release\FocalPoint.Lync2013Plugin.dll" Id="FocalPoint.Lync2013Plugin.dll"/>
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>