<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
	<Bundle Name="FocalPoint" Version="1.0.0.0" Manufacturer="Curtis Badke" UpgradeCode="9A3F03D6-4D69-470E-8C40-17AC9F7B4938">
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
			<bal:WixStandardBootstrapperApplication
				LicenseFile="License.rtf"
				LogoFile="..\FocalPoint\Images\logo.png"
			/>	
		</BootstrapperApplicationRef>

		<Chain>
			<MsiPackage SourceFile="..\MSI\bin\x64\Release\FocalPoint.msi" EnableFeatureSelection="no"/>

			<MsiPackage SourceFile="..\Plugins\Redistributables\lyncRuntime.msi" Permanent="yes" Visible="yes" EnableFeatureSelection="no"/>
			<MsiPackage SourceFile="..\Plugins\FocalPoint.Lync2013PluginMSI\bin\x64\Release\Lync2013Plugin.msi" Visible="yes" EnableFeatureSelection="no"/>
		</Chain>
	</Bundle>
</Wix>
